body
{
	color: #333;
	margin: 10px;
	width: 1080px;
}

h1, h2, h3, p, li
{
	font-family: Arial, sans-serif;
}

h1
{
	font-size: 21px;
	line-height: 19px;
	margin: 0 0 15px;
}

h2
{
	font-size: 16px;
	line-height: 15px;
	margin: 0 0 10px;
}

h3
{
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	margin: 0;
	padding: 10px 5px;
}

h3:hover
{
	font-weight: bold;
}

.js-on h3 span
{
	display: none;
	color: #666;
	font-size: 12px;
	margin: 5px 0 0;
}

p, li
{
	font-size: 12px;
}

ul, li
{
	margin: 0;
	padding: 0;	
}

li
{
	list-style-type: none;
}

.col
{
	background-color: #f2f2f2;
}

.js-on .col
{
	float: left;
	width: 200px;	
}

.js-on .col h2
{
	display: none;
}

ul
{
	overflow: hidden;
}

.js-on ul ul
{
	display: none;
}

.col ul ul li
{
	border: 0;
	padding-left: 20px;
}

.js-on .edge
{
	float: right;
}

.info
{
	background-color: #fff;
	display: none;
	height: 190px;
}

.js-on .info
{
	display: block;
	padding: 20px;
}

.js-on .info h3 span
{
	display: block;
	font-size: 14px;
}

.middle .info ul
{
	padding-left: 20px;
}

.js-on .middle .info li
{
	border: 0;
	float: none;
	list-style-type: disc;
	width: auto;
}

.news-corp, .met, .others, .politicians
{

}

.news-corp li, .met li, .others li, .politicians li
{
	border-left: 5px solid red;
	cursor: pointer;
}

.met li
{
	border-color: green;
}

.others li
{
	border-color: blue;
}

.politicians li
{
	border-color: yellow;
	height: 51px;
}

.js-on .middle
{
	width: 680px;
}

.middle ul li
{
	border-color: blue;
}

.js-on .middle ul li
{
	border-left: 0;
	border-top: 4px solid blue;
	float: left;
	width: 120px;	
}

.js-on .middle ul.met li
{
	width: 226px;
}

.js-on .middle ul.others li
{
	width: 136px;
}

.middle ul.others li
{
	border-color: green;
}

.highlighted
{
	background-color: #999;
	font-weight: bold !important;
	font-style: italic;
	color: white;
}

.js-on .middle ul li.highlighted
{
	border-left: 0;
}