body
{
	color: #333;
	margin: 10px;
}

.js-on .phone-hacking
{
	background: url(images/circle2.gif) no-repeat 10px 10px;
	position: relative;
	overflow: hidden;
	height: 670px;
}

h1, p, .phone-hacking h2, .phone-hacking h3, .phone-hacking p, .phone-hacking li
{
	font-family: Arial, sans-serif;
}

h1
{
	font-size: 21px;
	line-height: 24px;
	margin: 0;
}

p
{
	font-size: 12px;
	margin: 5px 0;
}

.phone-hacking
{
	margin-top: 20px
}

.js-on .phone-hacking
{
	margin-top: 0
}

.phone-hacking h2
{
	clear: left;
	font-size: 20px;
	line-height: 15px;
	margin: 0 0 10px;
}

.js-on .phone-hacking h2
{
	display: none;
}

.phone-hacking h3
{
	clear: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 5px;
	padding: 0 0 5px 0;
}

.js-on .phone-hacking h3
{
	display: none;
	font-weight: normal;
	margin: 0;
	padding: 0 0 10px 0;
}

.js-on .phone-hacking h3:hover
{
	font-weight: bold;
}

.js-on .phone-hacking h3 span
{
	display: none;
	color: #666;
	font-size: 12px;
	margin: 5px 0 0;
}

.js-on .phone-hacking img.mask
{
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
}

.phone-hacking img
{
	float: left;
	margin-right: 5px;
	vertical-align: bottom;
}

.js-on .phone-hacking img
{
	float: none;
	margin: 0;
	opacity: 0.3;
}

.phone-hacking p, .phone-hacking li
{
	font-size: 12px;
}

.phone-hacking ul, .phone-hacking li
{
	margin: 0;
	padding: 0;	
}

.phone-hacking li
{
	list-style-type: none;
	overflow: hidden;
	margin-bottom: 20px;
	margin-right: 10px;
	width: 300px;
}

.js-on .phone-hacking li
{
	margin-bottom: 10px;
}

.phone-hacking ul
{
	overflow: hidden;
}

.js-on .phone-hacking ul
{
	margin-top: 0;
}

.js-on .phone-hacking ul ul
{
	display: none;
	width: 220px;
}

.phone-hacking ul ul li
{
	border: 0;
	margin-left: 0;
	list-style-type: disc;
	margin-bottom: 5px;
	overflow: visible;
	width: 220px
}

.js-on .phone-hacking ul ul li
{
	padding-left: 20px;
	width: auto;
}

.phone-hacking .info
{
	display: none;
	height: 165px;
}

.js-on .phone-hacking .info
{
	display: block;
	left: 180px;
	top: 260px;
    position: absolute;
	width: 350px;
}

.js-on .phone-hacking .info h3
{
	font-weight: bold;
	font-size: 20px;
	display: block;
}

.js-on .phone-hacking .info h3 span
{
	display: block;
	font-style: italic;
	font-size: 14px;
	margin-top: 10px;
}

.js-on .phone-hacking .info li
{
	list-style-type: disc;
	margin-left: 20px;
	overflow: visible;
}

.js-on .phone-hacking .news-corp, .js-on .phone-hacking .politicians
{
	margin-top: 80px;
}

.js-on .phone-hacking .news-corp li, .js-on .phone-hacking .met li, .js-on .phone-hacking .others li, .js-on .phone-hacking .politicians li
{
	position: relative;
	padding-left: 0;
	width: 75px;
}

.js-on .phone-hacking .met li
{
	margin-right: 25px !important;
	margin-left: 25px !important;
}

.phone-hacking .highlighted img
{
	opacity: 1;
}

.js-on .phone-hacking .news-corp .highlighted
{
	border-color: red;
}

.js-on .phone-hacking .politicians .highlighted
{
	border-color: #333;
}

.js-on .rm, .js-on .jm, .js-on .em, .js-on .rb, .js-on .ac, .js-on .nw, .js-on .lh, .js-on .tt, .js-on .bsb, 
.js-on .gu, .js-on .cb, .js-on .sp, .js-on .mf, .js-on .ch, .js-on .el, .js-on .kv, .js-on .sh, .js-on .jw, 
.js-on .nc, .js-on .dc, .js-on .ah, .js-on .jy, .js-on .ps
{
	position: absolute !important;
}

.rm
{
	top: 0;
	left: 293px;
}

.jm
{
	top: 6px;
	left: 375px;
}

.em
{
	top: 40px;
	left: 447px;
}

.rb
{
	top: 293px;
	left: 600px;

}

.ac
{
	top: 78px;
	left: 515px;
}

.nw
{
	top: 142px;
	left: 569px;
}

.lh
{
	top: 215px;
	left: 592px;
}

.tt
{
	top: 373px;
	left: 592px;
}

.bsb
{
	top: 447px;
	left: 569px;
}

.gu
{
	top: 510px;
	left: 515px;
}

.cb
{
	top: 555px;
	left: 447px;
}

.sp
{
	top: 592px;
	left: 375px;
}

.mf
{
	top: 600px;
	left: 293px;
}

.ch
{
	top: 592px;
	left: 215px;
}

.el
{
	top: 560px;
	left: 144px;
}

.kv
{
	top: 510px;
	left: 79px;
}

.sh
{
	top: 443px;
	left: 32px;
}

.jw
{
	top: 370px;
	left: 8px;
}

.nc
{
	top: 285px;
	left: 0;
}

.dc
{
	top: 198px;
	left: 23px;
}

.ah
{
	top: 119px;
	left: 44px;
}

.jy
{
	top: 56px;
	left: 100px;
}

.ps
{
	top: 13px;
	left: 177px;
}