body
{
/*	background: url(images/circle.png) no-repeat 50px 115px;*/
	color: #333;
	margin: 10px;
	width: 1080px;
}

img
{
	opacity: 0.5;
	vertical-align: bottom;
}

.js-on img
{
	opacity: 0.4;
}

img.mask
{
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
}

h1, h2, h3, p, li
{
	font-family: Arial, sans-serif;
}

h1
{
	font-size: 21px;
	line-height: 19px;
	margin: 0 0 15px;
}

h2
{
	font-size: 20px;
	line-height: 15px;
	margin: 0 0 10px;
}

h3
{
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	margin: 0;
	padding: 0 0 5px 0;
}

.js-on h3
{
	font-weight: normal;
	padding: 0 0 10px 0;
}

.js-on h3:hover
{
	font-weight: bold;
}

.js-on h3
{
	display: none;
}

.js-on h3 span
{
	display: none;
	color: #666;
	font-size: 12px;
	margin: 5px 0 0;
}

p, li
{
	font-size: 12px;
}

ul, li
{
	margin: 0;
	padding: 0;	
}

li
{
	list-style-type: none;
}

.js-on .col
{
	float: left;
	width: 80px;
}

.js-on .first
{
	width: 240px;
}

.js-on .edge
{
	width: 160px;
}

.js-on .col h2
{
	display: none;
}

ul
{
	overflow: hidden;
	margin-top: 10px;
}

.js-on ul ul
{
	display: none;
}

.col ul ul li
{
	border: 0;
	margin-left: 20px;
	list-style-type: disc;
	margin-bottom: 5px;
}

.js-on .col ul ul li
{
	padding-left: 20px;
}

.info
{
	background-color: #fff;
	display: none;
	height: 165px;
}

.js-on .info
{
	display: block;
	padding: 20px;
}

.js-on .info h3
{
	font-weight: bold;
	font-size: 16px;
	display: block;
}

.js-on .info h3 span
{
	display: block;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 20px;
}

.middle .info ul
{
	padding-left: 20px;
	margin-left: 20px;
}

.js-on .middle .info ul
{
	margin-top: 0;
}

.js-on .middle .info li
{
	border: 0;
	float: none;
	list-style-type: disc;
	padding-bottom: 5px;
	width: auto;
}

.js-on .news-corp, .js-on .politicians
{
	margin-top: 80px;
}

.js-on .news-corp li, .js-on .politicians li
{
	float: left;
}

.news-corp li, .met li, .others li, .politicians li
{
/*	border-left: 5px solid #ccc;*/
	cursor: pointer;
	margin-bottom: 15px;
	padding-left: 10px;
}

.js-on .news-corp li, .js-on .met li, .js-on .others li, .js-on .politicians li
{
	position: relative;
	padding-left: 0;
	margin-bottom: 5px;
	width: 75px;
}

.js-on .met li
{
	margin-right: 25px !important;
	margin-left: 25px !important;
}

.js-on .middle
{
	width: 375px;
}

.js-on .middle ul li
{
	border-left: 0;
/*	border-top: 5px solid #ccc;*/
	float: left;
	margin: 0 5px 0 0;
	width: 70px;
}

.highlighted img
{
	opacity: 1;
}

.js-on .news-corp .highlighted
{
	border-color: red;
}

.js-on .middle .met .highlighted
{
	border-color: green;
}

.js-on .middle .others .highlighted
{
	border-color: #3ac;
}

.js-on .politicians .highlighted
{
	border-color: #333;
}

.rm, .jm, .em, .rb, .ac, .nw, .lh, .tt, .bsb, .gu, .cb, .sp, .mf, .ch, .el, .kv, .sh, .jw, .nc, .dc, .ah, .jy, .ps
{
	position: absolute !important;
}

.rm
{
	top: 85px;
	left: 292px;
}

.jm
{
	top: 91px;
	left: 373px;
}

.em
{
	top: 112px;
	left: 455px;
}

.rb
{
	top: 163px;
	left: 523px;
}

.ac
{
	top: 234px;
	left: 580px;
}

.nw
{
	top: 308px;
	left: 600px;
}

.lh
{
	top: 384px;
	left: 615px;
}

.tt
{
	top: 462px;
	left: 602px;
}

.bsb
{
	top: 537px;
	left: 569px;
}

.gu
{
	top: 597px;
	left: 515px;
}

.cb
{
	top: 642px;
	left: 447px;
}

.sp
{
	top: 668px;
	left: 373px;
}

.mf
{
	top: 676px;
	left: 294px;
}

.ch
{
	top: 660px;
	left: 212px;
}

.el
{
	top: 621px;
	left: 140px;
}

.kv
{
	top: 565px;
	left: 80px;
}

.sh
{
	top: 497px;
	left: 39px;
}

.jw
{
	top: 422px;
	left: 15px;
}

.nc
{
	top: 341px;
	left: 18px;
}

.dc
{
	top: 263px;
	left: 40px;
}

.ah
{
	top: 191px;
	left: 53px;
}

.jy
{
	top: 135px;
	left: 111px;
}

.ps
{
	top: 93px;
	left: 183px;
}